{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - FitNow{% endblock %}

{% block body %}
    <div class="mb-3">
        <h1>Modifier mon mot de passe</h1>
        {# BIENVENUE + PRENOM ET NOM #}
        Bienvenue {{ app.user.firstname }} {{ app.user.lastname }}  dans votre compte.<br/>
            <hr>
            <a href="{{ path('app_account') }}">Retourner à mon compte</a><br>
            <hr>
        {# ICI POUR APPELEZ LE FORMULAIRE QUI EST DANS "ChangePasswordType #}
       {# {% if notification %}
            <div class="alert alert-info">{{ notification }}</div>
        {% endif %} #} 
        {{ form(form) }}
            <hr>

    </div>
{% endblock %}