<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}FitNow!{% endblock %}</title>
        <link rel="icon" href="https://i.imgur.com/9Pg1bCQ.png">
        {# data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg> #}
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="assets/styles/app.scss">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <div>
            {{ render(controller('App\\Controller\\CategoryController::affichage')) }}
        </div>
            
    </head>
    <body>
        <div class="container">
        {% block body %}{% endblock %}
        </div>
    </body>
<br><br><br><br><br><br><br><br><br><br>
    <footer>
        {% block footer %}
            <style>
                footer ul {display: flex; background: grey; color: black; padding: 20px; margin: 0; justify-content: space-around; list-style: none;}
            </style>
                <ul>
                    <li>FITNOW</li>
                    <li><a href="{{ path('app_mletdn1') }}"> Mentions Légales</li>
                    <li><a href="{{ path('app_mletdn2') }}"> Données personnelles</li>
                    <li> <a href="{{ path('app_cookies') }}"> Cookies</a> </li>
                    <li> <a href="{{ path('app_cgu') }}">CGU</a> | <a href="{{ path('app_cgv') }}">CGV</a> </li>  
                    <p>© 2019 FitNow!</p>                 
                </ul>
        {% endblock %}
    </footer>
</html>
